.game__outer-wrapper {
	border: 1px solid #ddd;
	width: 600px;
	height: 400px;
	position: relative;
	overflow: hidden;
}

.game__player--wrap,
.game__enemy,
.game__obstacle {
	position: absolute;
	z-index: 2;
}

.game__player-health {
	max-width: 40px;
	position: relative;
	z-index: 3;
}
.game__bg--tile {
	position: absolute;
	z-index: 1;
	opacity: 0.85;
}